
body {
	background-image: url("images/topography.png");
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-size: 12px;
	margin-bottom: 80px;
	border-radius: 0;
	
}


/*Header*/

.topbar {
	background: #f1eef3;

}

#myname {
	color: #f1eef3;
	margin: auto;
	text-align: center;
	font-size: 28px;
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}

/*Page Navigation*/

.mynav {

padding: 25px;

}

.navlinks {
	border-left: 1px solid lightgray;
	text-align: center;
}

.navlinks li {
	padding: 0px 10px 0px 10px;
}

.navlinks:first-child {
	border: 0 none;

}

#aboutmemenu {
	padding-left: 0px;
}

a li {
    display: inline-block;
    text-decoration: none;
    color: #777777;
}

a li:hover {
	color:white;
}

h1, h2, h3{
	
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}


h1 {
	font-size: 28px;
}



.navbar-header {
	background: #ab90f0;
	padding: 10px;
	margin: 0;
}


.navitems {
	margin: 0;
}

.maincontent {
	margin-left: 0;
	margin-top: 10px;
	width: 100%;
}

.panelcontainer {
	padding: 15px 10px;
}

.panel-title,
.page-header {
	border-color: #777777;
	color: #ab90f0;
	padding-left: 10px;
}

.panel-title {
	font-size: 20px;
	padding: 20px 0;
	border-bottom: 1px solid #777777;
	text-align: center;
}

.connectme,
.myheader {
	background: #f1eef3;
	border: 1px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 30px;
}


#mymug {
	float:left;
	margin-right: 20px;
}


.textcontent {
	padding-top: 10px;
	line-height: 18px;
	color: #777777;
}

/*Connect With me*/

.connectme {
	padding: 10px;
	margin-left: -15px;
	margin-right: -15px;
	border-radius: 0;
}

/*.icon {
	display: inline-block;
	padding-left: 5px;
	max-width: 40px;
}

.icons {
	margin-left: -5px;
}

.icon:hover {
	opacity: 0.5;
}*/

/*Footer*/




/*.navbar-text {
    color: #f1eef3 !important; 
}*/



/*footer .navbar {
	border-top: 3px solid #ab90f0;
}*/

/*Portfolio*/

.imgrows {

}

.imgrows:last-child {
	margin-bottom: 10px;

}

.portfolioheader {
	margin-bottom: 0;
}

.work {
	display: inline-block;
    position: relative;
}

.work img {
	margin-top: 30px;
}

.work h3 {
  position: absolute;
  bottom: 10px;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #f1eef3;
  text-align: center;
  background: #ab90f0;
  border-bottom: 0;
  width: 100%;
  font-size: 16px;
}

/*Contact Form*/

.myform {
	margin-top: 15px;
}

.mylabel {
	font-weight: normal;
	color: #777777;
	margin-left: 0;

}

.btn,
.myinput {
	border-radius: 0;
	border: 1px solid #777777;
	background: #f1eef3;
}

.myinput:focus {
	border-color: #ab90f0;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(119, 119, 119, 0.5);
}


.btn {
	background: #ab90f0;
	color: #f1eef3;
}

.btn:hover {
	background: #f1eef3;
	color: #ab90f0;
}

/*footer icons*/

.fa {
	font-size: 40px;
	color: #555c5e;
}

.fa-linkedin {
	margin: 0 40px;
}

@media screen and (max-width: 768px) {

	
	.work,
	.work img {
		width: 100%;
	}
}

@media screen and (min-width: 1200px) {

	.work {
		margin-left: 25px;
	}
}
