
* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/topography.png");
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-size: 12px;
	margin: 0;
	

}

h1 {
	font-size: 24px;
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
;
}

a {
	color: #777777;
	text-decoration: none;
}

a:hover {
	color:white;
}




#container {
	background: #f1eef3;
	width: 1200px;
	min-width: 100%;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid #777777;
	position: absolute;

}

#headercontent {
	min-width: 100%;
	
}

#myname {
	color: #f1eef3;
	background: #ab90f0;
	padding: 20px;
	margin: auto;
	margin-left: 160px;
	float: left;
	text-align: center;
	position: relative;
}

#navigation {
    float: right;
    text-align: left;
    position: absolute;
    right: 0;
    left: 860px;
    padding: 20px;
    min-width: 250px;
}

.navitem {
	color: gray;
	font-size: 12px;
	float: left;
	padding: 5px;

}

#content {
	clear: both;
	width: 960px;
	margin: 100px auto 100px 160px;
	overflow: auto;
}

#contentboxidx {
	float: left;
	background: #f1eef3;
	height: 475px;
	width: 650px;
	padding: 20px;
	overflow: scroll;
	margin: auto;
	
}

#contentboxcontact {
	float: left;
	background: #f1eef3;
	height: 475px;
	width: 650px;
	padding: 20px;
	overflow: auto;
	margin: auto;
	
}

#contentheader {
	color: #ab90f0;
	padding-bottom: 20px;
	border-bottom: 2px solid #777777;

}

#mymug {
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
	padding: 10px 20px 20px 0;
}

.textcontent {
	padding-top: 10px;
	line-height: 18px;
	color: #777777;
}

#portfoliobox {
	float: left;
	background: #f1eef3;
	min-height: 800px;
	width: 650px;
	padding: 20px;
	margin: auto;
	overflow: auto;
}

#placeholderarea {
	width: 100%;
	margin: auto;
}

.placeholderbox {
	float: left;
	/*padding: 15px;*/
	position: relative;
	margin: 15px;
	overflow: auto;
}


.placeholderlinks {
	background: #ab90f0;
	color: #f1eef3;
	text-align: center;
	position: absolute;
	padding: 20px;
	right:0;
	left:0;
	bottom: 10px;
	font-size: 16px;
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}

.placeholderlinks:hover {
	background: #f1eef3;
	color: #ab90f0;
}


#myform {
	clear: both;
	width: 100%;
	color: #777777;
	padding-top: 10px;
	font-size: 14px;
}


.inputs {
	width: 100%;
	height: 30px;
	background: #f1eef3;
	font-size: 14px;
	margin-bottom: 10px;
}

label {
	display: block;
	padding-bottom: 5px;
}


#msgbox {
	height: 150px;
	width: 100%;
	background: #f1eef3;
	font-size: 14px;
}

#submit {
	position: relative;
	bottom: 0;
	background: #ab90f0;
	color: #f1eef3;
	height: 30px;
	width: 80px;
	border: 1px solid #666666;
}

#submit:hover {
	background: #f1eef3;
	color: #ab90f0;
}

#connect {
	float: left;
	padding: 15px;
	background: #f1eef3;
	height: 200px;
	width: 270px;
	margin: 0 auto 0 30px;

}

#connectme {
	color: #ab90f0;
	margin: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #777777;
	font-size: 16px;
	text-align: center;
}

.icons {
	position: relative;
	margin: 20px;
	
}

.icon:hover {
	opacity: 0.5;
}


footer {
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #666666;
	text-align: center;
	font-size: 9px;
	color: #f1eef3;
	border-top: 4px solid #ab90f0;
	width: 100%;
	margin: 0;
	padding: 20px;
	min-width: 100%;
}




